/*

CSS Credit: http://www.templatemo.com/

*/

html {

	background: #333333;

}

body {

	margin: 0;

	padding:0;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 1.5em;

	color: #FFFFFF;

	width: 100%;

	display: table;

}

a { color: #CCFF00; }
a:hover { color: #FFFFFF; }

#templatemo_background_section_top {

	width: 100%;
	
	height:217px;

	background: url(images/templatemo_background_section_top_bg.jpg) repeat-x;

}

#templatemo_background_section_middle {

	width: 100%;
	
	background: #333333;
	
	clear: both;
	
	overflow:hidden;

}

#templatemo_background_section_bottom {

	width: 100%;
	
	height: 327px;

	background: url(images/templatemo_background_section_bottom_bg2.jpg) repeat;
	
	float: left;

}

.templatemo_container {

	width: 960px;

	margin: auto;

}

#templatemo_header {

	width: 100%;
	height:168px;	
	background:url(images/templatemo_header_bg.jpg) repeat-x;

}

/* Logo Area */
#templatemo_logo_section {

	width:auto;
	height:auto;
	margin-top:60px;
	margin-left: 60px;
	float:left;	
	display: inline;
}


#templatemo_logo_section h1 {
	
	padding-top: 10px;
	font-size: 42px;
	color:#999999;
	margin:0px;
	font-weight: normal;
		
}

#templatemo_logo_section h2{
	
	font-size:18px;
	color:#999999;
	padding-top:5px;
	font-weight: normal;
	
}
/* End Of Logo Area*/
/* Search Box*/

#templatemo_search_box{
	width: 238px;
	height: 52px;
	float: right;
	margin-top: 90px;
	margin-right: 20px;
	padding-top:20px;
	padding-left:20px;
	background:url(images/templatemo_search_box_bg.jpg) no-repeat;
}

#textfield{
	width: 200px;
	height: 18px;
	margin-top: 15px;
	margin-left: 15px;
	background: #000;
	color: #FFF;
	border: solid 1px #3b3b3b;
	padding-top: 5px;
	padding-left: 5px;
}

#button{
	background: url(images/templatemo_button.jpg); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	margin-left: 10px;
	padding: 0 5px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 80px;
	color: #fff;
}

/* End Of Search Box*/
/* Menu Section */

#templatemo_menu_panel{
	width:100%;
	height: 49px;	
	margin: 0 auto;
	background: url(images/templatemo_menu_bg.jpg) repeat-x;
	float:left;
}

#templatemo_menu_panel #templatemo_menu_section{
	width: 930px;
	height: 49px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
}

#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding-top: 4px;
	list-style: none;
}

#templatemo_menu_section ul li{
	display: inline;
}

#templatemo_menu_section ul li a{
	float: left;
	width: 110px;
	padding-top: 8px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current{
	color: #ccff00;
	height:36px;
	background:url(images/templatemo_menu_current.jpg) repeat-x;
}

/* End Of Menu */

/* Left Section */

#templatemo_left_section {
	
	width: 560px;
	float: left;
	margin: 10px 0px 10px 35px;
	
}

* html #templatemo_left_section {

	margin-left: 15px;
}

.templatemo_post {
	
	width: 552px;
	margin-top: 5px;
	margin-bottom: 15px;
	
}

.templatemo_post_top {
	
	width: 551px;
	height: 47px;
	background: url(images/templatemo_post_top.jpg) no-repeat;
	
}

* html .templatemo_post_top h1{
	margin-bottom: -11px;
}

.templatemo_post_top h1{
	font-size: 18px;
	color:#ccff00;
	font-weight:bold;
	padding-top: 15px;
	padding-left: 25px;
}

.templatemo_post_mid {
	
	width: 551px;
	background: url(images/templatemo_post_middle.jpg) repeat-y;

}

.templatemo_post_bottom {
	
	width: 551px;
	height: 39px;
	background: url(images/templatemo_post_bottom.jpg) no-repeat;
	
}

.templatemo_post_mid img{
	
	border: #ccc solid 1px;
	float: left;
	margin: 3px 15px 0 0;

}

.templatemo_post_mid p{
	
	font-size: 12px;
	color:#fff;
	margin : 0px 25px 25px 25px;
	text-align: justify;

}

div.post{
	margin: 25px;
	color: #999999;
	font-size: 11px;
	
}



/* End Of Left Section */
/* Right Section */
#templatemo_right_section {
	
	width: 310px;
	float: right;
	margin: 10px 30px 10px 0px;
	
}

* html #templatemo_right_section {

	margin-right: 15px;
}

.templatemo_section_box {
	
	width: 292px;
	margin-top: 5px;
	margin-bottom: 15px;

	
}



.templatemo_section_box_top {
	
	width: 292px;
	height: 41px;
	background: url(images/templatemo_section_box_top.jpg) no-repeat;

}

* html .templatemo_section_box_top {
	margin-bottom: -11px;
}

.templatemo_section_box_top h1{
	font-size: 18px;
	color:#999999;
	font-weight:bold;
	padding-top: 15px;
	padding-left: 15px;

}

.templatemo_section_box_mid {
	
	width: 292px;
	background: url(images/templatemo_section_box_middle.jpg) repeat-y;
}


.templatemo_section_box_mid p{
	
	font-size: 12px;
	color:#fff;
	margin : 0px 15px 15px 15px;
	text-align: justify;

}

.templatemo_section_box_mid p a{
	
	font-size: 12px;
	color:#ccff00;

}

.templatemo_section_box_mid img{
	float: left;
	display:inline;
	margin-bottom: 10px;
	margin-left: 13px;
	border:none;

}

.templatemo_section_box_mid ul{
	
	margin-bottom:15px;
	margin-top:0px;
	padding-right:15px;
	color: #fff;
}

.templatemo_section_box_bottom {
	
	width: 292px;
	height: 28px;
	background: url(images/templatemo_section_box_bottom.jpg) no-repeat;
	margin-top: -15px;


}


/* End Of Right Section*/

.clear{
	clear:both;
	height:1px;
}

#templatemo_bottom_panel {
	clear: both;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background: url(images/templatemo_background_section_bottom_bg.jpg) repeat-x;	
}

#templatemo_bottom_panel #templatemo_bottom_section{
	width: 960px;
	margin: 0 auto;
	height: 300px;

}

#templatemo_bottom_section .templatemo_bottom_section_box {
	float: left;
	display:inline;
	margin-top: 30px;
	margin-left: 30px;
	width: 278px;
	border: 1px solid #333333;
	background-color: #191919;
}

.templatemo_bottom_section_box .top{
	
	width: 263px; /* +15 for padding left and + 2 for border */
	height: 25px;
	margin-top: 5px;
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 0 15px;
	background: url(images/templatemo_buttom_section_box_top.jpg) no-repeat;
	
}

.templatemo_bottom_section_box .body{
	width: 248px;
	padding: 15px;
}

.templatemo_bottom_section_box .body ul{
	margin-left: 20px;
	padding: 0px;
	color: #fff;
}

.templatemo_bottom_section_box .body li{
	margin: 0px;
	padding: 0px;
}

.body p{
	
	text-align: justify;
	margin: 10px;
	padding: 0px;
	color: #fff;
}

#templatemo_footer_section{
	clear: both;
	text-align: center;
	width: 960px;
	margin-top: 5px; 
	padding: 10px 0;
	color: #fff;

}


#mission {
	border: 1px solid #B8B8B8;
	padding: 6px 6px 6px 6px;
	margin-bottom: 12px;
}

.breadcrumb {
	margin: 7px;
}

.messages.status {
	margin: 14px;
	font-weight: bold;
}

table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 4px;
	color: #000000 !important;
}

.tags {
	padding: 5px 5px 5px 5px;
	margin: 14px;
}

.theme-info h2 {
	font-size: 14px;
	color: #000000;
}

table td a{
	color: #000000 !important;
}

table td a:hover{
	color: #000000 !important;
}

table td a:visited{
	color: #000000 !important;
}

.tabs li a.active{
	color: #000000 !important;
}

.tabs li a{
	color: #000000 !important;
}

.messages.error a {
	color: #0000FF !important;
}

.messages.error a:hover {
	color: #0000FF !important;
}

.messages.warning a {
	color: #0000FF !important;
}

.messages.warning a:hover {
	color: #0000FF !important;
}

.block-region{
	color: #000000 !important;
}

.tabs .secondary li{
	  color: #FFFFFF !important;
}

.tabs.secondary li a{
	  color: #FFFFFF !important;
}


li a.active {
  color: #FFFFFF !important;
}


/* comments from project scruffy */
#comments {
	padding: 11px 2px 2px 2px;
	margin: 1px;
	border-bottom: 1px solid #B8B8B8;
}

#comments ol {
	margin: 6px 2px 10px 2px;
	padding: 0;
	border-top: 1px solid #B8B8B8;
	list-style: none;
	border-bottom: 1px solid #B8B8B8;
}

#comments h3 {
	margin: 14px 0;
	font-size: 15px;
}

#comments ol li {
	padding: 11px;
	list-style: none;
	margin: 6px 0;
}

#comments ol li.alt {
	background-color: #EEEEEE !important;
}

#comments ol li.authorcomment {
	background-color: #EEEEEE !important;
}

.commententry p.moderate {
	background-color: #B3FFCC !important;
	font-weight: bold;
	margin: 3px;
}

#comments .comment {
	border-top: 2px solid #B8B8B8;
	border-bottom: 2px solid #B8B8B8;
	border-left: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
}

.commentmeta {
	font-size: 11px;
}

.commentmeta .gravatar {
	
}

.commentmeta .gravatar img {
	float: left;
	margin: 0 12px 0 0;
	border: 1px solid #EEEEEE;
}

.commentmeta .commentauthor {
	font-size: 14px;
	font-weight: bold;
}

.commententry p {
	margin-bottom: 5px;
}
